/* comentario css: variáveis CSS globais */

:root{
    --cor-neve: #fdfdfd;
    --cor-verde-claro : #e3fbe380;
    --cor-verde-transparente: #aae7aaad;
    --cor-verde-musgo: rgb(30, 130, 30, 0.7);
    --cor-verde-limao: limegreen;
    --cor-preto: black;
    --cor-texto: #212529;
    --cor-branco: white;
    --cor-cinza: gray;
    --cor-cinza-escuro: #000000bf;
    --cor-cinza-claro: #dcdcdc;
    --cor-dourado: #eb783f;

    --altura-titulo: 2em;
    --altura-subtitulo: 1.5em;  
} 

body{
    background-color: var(--cor-neve);
}

header{
   background-color: var(--cor-verde-claro);
   padding-block: 16px;
   padding-inline: 16px;
}

nav{
    /* background-color: rgba(160, 212, 185, 0.596); */ 
    height: 175px;
    max-width: 1280px;
    margin-inline: auto;
    
    /* layout flexbox: padrão = alinhamento horizontal = row */
    display: flex;

    /* divide o espaçamento horizontal */
    justify-content: space-between;

    /* divide o espaçamento vertical */
    align-items: center;

}

/* configuração menu do header */
nav ul{
     display: flex; /* padrão = row = horizontal */
     gap: 32px; /* espaço entre os intens da lista */
     list-style: none; /* remove marcador da lista */
     user-select: none; /*não permite selecionar o texto */
}
 /* configura o link do menu */
nav ul a{
    color: var(--cor-preto);
    font-size: 22px;
    font-weight: bold;
    text-decoration: none; /* remove o underline do link */
    text-transform: uppercase; /* transforma em maiúsculas */

}

nav ul a:hover{
    color: var(--cor-dourado);
    text-decoration: underline;
}

.banner{
    width: 100vw;

}
/* estilo temporario */
/*
 main{
    background-color: #335e3388;
    height: 50vb;
 }
*/
  main {

    background-color: rgba(124, 182, 124, 0.582);

  }
 footer{
    text-align: center;
    /* imagem de fundo que será repetida */
    background: url(../img/bg.png);
    padding-block: 16px; /* top + bottom */
 }

 /* configura texto: copyright mundo verde */

 footer p{
    color: var(--cor-cinza-escuro);
    font-size: 13px;
    margin-top: 16px;
    cursor: default;
    user-select: none;
 }

@media only screen and (max-width: 800px) {

    nav {
        justify-content: right;
    }
    nav ul {
        position: fixed;
        top: 8px;
        left: 8px;

        flex-direction: column;
        gap: 8px;
        background: var(--cor-verde-transparente);
        padding: 5px;
        border: 1 px solid var(--cor-verde-limao);
        border-radius: 10px;
    }
}
